__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
*.manifest
*.spec

.venv/
env/
venv/
ENV/
*.env


.idea/

instance/
*.db
*.sqlite3

*.log
logs/
*.pid

.coverage
htmlcov/
.cache/
.pytest_cache/
.tox/

.DS_Store
Thumbs.db
